# Auto detect text files and normalize line endings to LF
* text=auto

# Java files
*.java text eol=lf
*.class binary
*.jar binary
*.exe binary

# Batch files
*.bat text eol=crlf
*.cmd text eol=crlf

# Config files
*.xml text eol=lf
*.properties text eol=lf
*.iss text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.dd text eol=lf

# Documentation
*.md diff=markdown
